.outline-header{
    color:whitesmoke;
    background-color: greenyellow;
    font-size:20px;
    text-align:center;
}
.inline-header{
    color:brown;
    background-color: whitesmoke;
    font-size:20px;
    text-align:center;
}